services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./content:/app/content
      - ./data:/app/data
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - internal

  nginx:
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./app/static:/app/static     # static files shared with nginx
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    depends_on:
      - app
    restart: unless-stopped
    networks:
      - internal
      - external

  certbot:
    image: certbot/certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    restart: unless-stopped

networks:
  internal:
    internal: true   # app not reachable from outside, only via nginx
  external:
    driver: bridge
